@page "/fetchdata"

@using RipVanMonitor.Data
@using RipVanLibrary 
@inject RipService RipService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (rips == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Drive Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rip in rips)
            {
                <tr>
                    <td>@rip)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<string> rips;

    protected override async Task OnInitializedAsync()
    {
        rips = await RipService.GetDiscDrives();
    }
}
