@page "/fetchdata"

@using Microsoft.Extensions.Logging;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Timers;
@using RipVanLibrary

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (Rips == null)
    {
        <p><em>Nothing is currently being Ripped...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rip in Rips)
                {
                    <tr>
                        <td>@rip.DriveId</td>
                        <td>@rip.DiscLabel</td>
                    </tr>
                }
            </tbody>
        </table>
    }

@code {
    List<Rip> Rips;
    HubConnection Connection;

    protected override async Task OnInitializedAsync()
    {
        Connection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5000/hubs/ripping")
            .WithAutomaticReconnect()
            .ConfigureLogging(logging =>
            {
                logging.AddConsole();

                logging.SetMinimumLevel(LogLevel.Debug);
            })
            .Build();

        Connection.On<List<Rip>>("ReceiveRips", ReceiveRips);

        await Connection.StartAsync();

        Timer timer = new Timer(5000);
        timer.AutoReset = true;
        timer.Elapsed += new ElapsedEventHandler(GetRips);
        timer.Start();
    }

    protected void GetRips(object sender, EventArgs e)
    {
        Connection.InvokeAsync("GetRips");
    }

    protected void ReceiveRips(List<Rip> rips)
    {
        Rips = rips;
    }
}
