<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>

        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
        <link rel="stylesheet" href="~/styles/site.css" asp-append-version="true" />
        @RenderSection("Styles", required: false)
    </head>
    
    <div class="container text-center mb-5">
        <h1 class="display-1">Rip Van Blu Ray</h1>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/rip-hub.client.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</html>